"""コンフィグファイル"""
ROOT_PATH = '/'

LOG_FILE_DIRECTORY_PATH = './logs/'

SAWAYAKA_DB_PATH = './databases/sawayaka.db'
BLOG_DB_PATH = './databases/blog.db'

WEB_TOP_URL = 'https://example.com/'

PRIKEY_PATH = '/home/exampleUser/.ssh/id_rsa'
