* {
	box-sizing: border-box;
}

body {
	height: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	font-family:
		"Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", "Meiryo",
		"ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #e6e6e6;
}

.content h2 {
	margin-top: 120px;
	display: flex;
	justify-content: center;
}

@media screen and (max-width: 599px) {
	.content h2 {
		margin-top: 70px;
	}
}

/*ボタン*/
.defaultButton {
	appearance: none;
	border: 0;
	border-radius: 5px;
	background: #4676D7;
	color: #fff;
	padding: 8px 16px;
	margin: 5px;
	font-size: 16px;
}

.defaultButton:hover {
	opacity: 0.6;
}

@media screen {}

/*フッター*/
footer {
	margin-top: auto;
	width: 100%;
	background-color: #fff;
	text-align: center;
}