<h4>
	この一連の旅行では、十分に写真を撮影しておりません。ご了承ください。
</h4>
<p>
	2023年9月4日。2ヶ月前から練っていた旅行プランを実行に移す日である。
</p>
<p>
	今まで、青春18きっぷが便利だなーと考えていたが、実際に使ったことはなかった。そんな中、長い2ヶ月弱の大学の夏休みを使って、4泊6日で旅行に出かけることにした。
</p>
<figure class="center">
	<img src="/static/images/20230904/PXL_20230903_203531938.jpg" alt="キャリーバッグと会津若松駅">
</figure>
<p>
	朝6時前、福島県 会津若松駅。初日にもかかわらず、この時間から動かないと旅行プランが破綻してしまう。だから、前日に家を出て、市内の快活CLUBで前泊しておいた。
</p>
<figure class="center">
	<div class="gmap">
		<iframe
			src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3164.553166284092!2d139.92034478393634!3d37.51845566262748!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f8aaccce9ada2b7%3A0xb52e4ab826839363!2z5b-r5rS7Q0xVQiDkvJrmtKXjgqTjg7Pjgr_jg7zlupc!5e0!3m2!1sja!2sjp!4v1698201533915!5m2!1sja!2sjp"
			width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
			referrerpolicy="no-referrer-when-downgrade"></iframe>
	</div>
</figure>
<p>
	シャワーも飲み物もあり、かなり快適だった。これから旅行の大半は快活にお世話になるが、これ位のレベルならなんとか過ごせそうだ。寝心地も、決して十分ではないが、普段のキャンプで硬いマットの上に寝ている私にとっては、特に無問題である。
</p>
<br>

<figure class="center">
	<img src="/static/images/20230904/PXL_20230903_203809931.MP.jpg" alt="1日目に印が押された青春18きっぷ">
</figure>
<p>
	18きっぷに入鋏印を押してもらう。ここから旅行の始まりだ。
</p>
<time>
	6:08
</time>
<figure class="center">
	<img src="/static/images/20230904/PXL_20230903_204241079.MP.jpg" alt="駅に入線するキハ110">
</figure>
<p>
	察する方もいるとは思うが、最初の乗車電(気動車だが)は只見線。小出までの乗り通しのつもりだが、朝6時の始発を逃すと、次の小出行きは13時。これが、前泊の理由である。
</p>
<p>
	1両の単行ながら、乗客はかなり多い。なんとかロングシートを確保したが、立ち客も何名かいる。
</p>
<figure class="center">
	<img src="/static/images/20230904/PXL_20230903_224735189.MP.jpg" alt="只見線列車から見た只見川">
	<img src="/static/images/20230904/PXL_20230903_224744511.jpg" alt="只見線列車から見た只見川">
	<img src="/static/images/20230904/PXL_20230904_000857601.jpg" alt="只見駅の駅名標">
	<img src="/static/images/20230904/PXL_20230904_001640776.MP.jpg" alt="只見駅停車中のキハ110">
</figure>
<p>
	3時間もの長い時間をかけ、福島の最果て、只見に到着。高校山岳部以来、2年ぶりの来訪。あの時は只見線は全通していなかった。
	ここでは30分の停車。列車交換するわけでもないので、観光停車だろう。駅から離れた踏切から写真を撮る人も。
	あまり人は降りていないようだ。
</p>
<p>
	只見から先、田子倉トンネル・六十里越トンネルを抜けて、新潟県へ。駅メモをプレイしながら乗車していたが、途中の田子倉廃駅には、電波が届かず、どうやってもアクセスできない。
	果たして走行中にアクセスに成功した者はいるのだろうか。
</p>
<figure class="center">
	<img src="/static/images/20230904/PXL_20230904_015415303.jpg" alt="小出駅の駅名標">
</figure>
<p>
	魚沼の田園地帯を抜けて、終点の小出に到着。時刻はすでに10時半、9月ながらも暑さが残る。
</p>
<time>
	11:10
</time>
<figure class="center">
	<img src="/static/images/20230904/PXL_20230904_020938631.jpg" alt="小出駅に入線するE129系">
</figure>
<p>
	30分の待ち時間をおいて、上越線に乗り換え。1日5本しかない上越国境越え列車にも関わらず、接続もちょうど良い。
	黒い窓枠と、帯の間の隙間に、なんとなくデザイン性を感じる。
</p>
<p>
	朝に買ったパンを食べながら、車内で過ごす。初めて乗車したE129系だが、流石新車両、自動放送のクリアな音質や、LCD広告に驚かされる。
</p>
<p>
	トンネルを抜けての窓の曇り様は相当である。
	上り列車だから、土合の地下駅は見れなかったが、ループ線は見れた。とはいっても、トンネル内だが。
</p>
<figure class="center">
	<img src="/static/images/20230904/PXL_20230904_035949328.jpg" alt="水上駅舎">
</figure>
<p>
	13時前に水上に到着。初となる上越ルートからの関東入りである。接続列車が多少遅れているようだったが、その先の乗り換えにもマージンはあるので、問題はない。
</p>
<time>
	13:14
</time>
<p>
	戸袋にも窓がある電車には初めて乗った。とはいっても、これ以降そういった電車をいくつも見かけることになるのだが。
</p>
<figure class="center">
	<img src="/static/images/20230904/PXL_20230904_052206063.jpg" alt="上野東京ライン 沼津行きの方向幕">
	<figcaption>14:28発 1891E/327M 上野東京ライン 普通 沼津行き</figcaption>
</figure>
<p>
	これ一本に4時間乗車しているだけで、埼玉・東京・神奈川をパスして、静岡まで連れて行ってくれるから、心強い。
	もちろん、グリーン車に課金した。距離単価が安く、ペイする価値があるためだ。
</p>
<figure class="center">
	<img src="/static/images/20230904/PXL_20230904_094054588.jpg" alt="沼津駅の駅名標">
	<img src="/static/images/20230904/PXL_20230904_105333232.MP.jpg" alt="沼津駅停車中の313系">
</figure>
<p>
	沼津からは、初となるJR東海の電車に乗車。運のいいことに、313系の転換クロスシート車両に乗車できた。
</p>
<p>
	西焼津駅で下車、ここから15分ほど歩くのだが、運の悪いことに、ここで雨が降り出す。折り畳み傘は持っていたので問題はないが、面倒ではある。
	あまり遠くないと感じていたが、意外と疲れた。
</p>
<time>
	20:30
</time>
<figure class="center">
	<img src="/static/images/20230904/PXL_20230904_113508864.jpg" alt="サラダ">
	<img src="/static/images/20230904/PXL_20230904_114733282.jpg" alt="さわやかのげんこつハンバーグ">
</figure>
<p>
	なぜ中途半端に西焼津駅で下車したのかというと、少ない待ち時間で、さわやかのげんこつハンバーグを食べたかったからだ。
	静岡県内外でかなり有名なチェーン店である。ここで食べるのは初めてだが、期待を裏切らない味であった。
	実際待ち時間も、10分程度であった。
</p>
<figure class="center">
	<div class="gmap">
		<iframe
			src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9528.357826058449!2d138.27337387669954!3d34.85886511750576!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601a4f8403254e13%3A0xc7e2f11147e01c8f!2z44GV44KP44KE44GLIOiXpOaeneevieWcsOW6lw!5e0!3m2!1sja!2sjp!4v1699921392614!5m2!1sja!2sjp"
			width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
			referrerpolicy="no-referrer-when-downgrade"></iframe>
	</div>
</figure>
<p>
	しかしアクシデントは続く。さわやかを出たところで、雨が強くなる。傘をさしていても、足元はびしょ濡れになる。
	西焼津駅に戻ってきた時には、もはや満身創痍である。
</p>
<time>
	21:33
</time>
<p>
	引き続き東海道本線で西を目指すのだが、今度はロングシートが来た。流石に静岡のロングシート地獄は避けられなかった。
	とはいっても、普通に快適だった。車内もガラガラだし、途中で寝てしまえるくらいには。豊橋までの乗り通しである。
</p>
<time>
	23:05
</time>
<figure class="center">
	<img src="/static/images/20230904/PXL_20230904_141336421.jpg" alt="豊橋駅舎">
</figure>
<p>
	今日の目的地、豊橋に到着。雨は降っていないから楽である。これで、今日の移動は終わりだ。15分歩いた先の快活CLUBで宿泊する。
</p>
<figure class="center">
	<div class="gmap">
		<iframe
			src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5242.589183333922!2d137.37455103753183!3d34.7643304308932!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6004ce0736fa8595%3A0x8b1338aa06e8e6c8!2z5b-r5rS7Q0xVQiDosYrmqYvmlrDmoITlupc!5e0!3m2!1sja!2sjp!4v1699921516071!5m2!1sja!2sjp"
			width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
			referrerpolicy="no-referrer-when-downgrade"></iframe>
	</div>
</figure>